In [1]:
import pandas as pd
import selenium
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.ui import Select
from math import sqrt

In [2]:
from selenium import webdriver
from time import sleep
options = webdriver.ChromeOptions()
chrome_options = webdriver.ChromeOptions()
chrome_options.add_argument('--headless') #내부 창을 띄울 수 없으므로 설정
chrome_options.add_argument('--no-sandbox')
chrome_options.add_argument('--disable-dev-shm-usage')
driver = webdriver.Chrome('chromedriver',chrome_options=chrome_options)
# 브라우저 윈도우 사이즈
options.add_argument('window-size=1920x1080')
# 사람처럼 보이게 하는 옵션들
options.add_argument("disable-gpu")   # 가속 사용 x
options.add_argument("lang=ko_KR")    # 가짜 플러그인 탑재
options.add_argument('Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/110.0.0.0 Safari/537.36')  # user-agent 이름 설정|
# selenium에서 사용할 웹 드라이버 절대 경로 정보
# selenum의 webdriver에 앞서 설치한 chromedirver를 연동한다.
driver.implicitly_wait(2)

C:\Users\josuh\AppData\Local\Temp\ipykernel_1688\1905562553.py:8: DeprecationWarning: use options instead of chrome_options
  driver = webdriver.Chrome('chromedriver',chrome_options=chrome_options)

In [3]:
#!pip install lxml

Collecting lxml
  Downloading lxml-4.9.2-cp311-cp311-win_amd64.whl (3.8 MB)
     ---------------------------------------- 3.8/3.8 MB 30.0 MB/s eta 0:00:00
Installing collected packages: lxml
Successfully installed lxml-4.9.2

[notice] A new release of pip available: 22.3.1 -> 23.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [12]:
import pandas as pd
from selenium import webdriver
from bs4 import BeautifulSoup

driver = webdriver.Chrome('chromedriver',chrome_options=chrome_options)
driver.get("http://www.statiz.co.kr/league.php?opt=2022&sopt=1")

html = driver.page_source
soup = BeautifulSoup(html, 'html.parser')

tables = soup.find_all('table')

for i, table in enumerate(tables):
    data = []
    rows = table.find_all('tr')
    for row in rows:
        cells = row.find_all('td')
        data.append([cell.text for cell in cells])

    df = pd.DataFrame(data)
    print(f"DataFrame for table {i}:")
    df.to_csv(f'22두산_{i}.csv')

driver.quit()

C:\Users\josuh\AppData\Local\Temp\ipykernel_1688\700825597.py:5: DeprecationWarning: use options instead of chrome_options
  driver = webdriver.Chrome('chromedriver',chrome_options=chrome_options)

DataFrame for table 0:
DataFrame for table 1:
DataFrame for table 2:
DataFrame for table 3:
DataFrame for table 4:
DataFrame for table 5:
DataFrame for table 6:
DataFrame for table 7:
DataFrame for table 8:
DataFrame for table 9:
DataFrame for table 10:
DataFrame for table 11:

In [24]:
df = pd.read_csv('22두산_2.csv',encoding = 'UTF-8')
df = df.drop('Unnamed: 0',axis=1)
#df.to_csv('22시즌팀별 대결표.csv')

In [46]:
column = ['순','팀','승','패','무','승률']
df = pd.read_csv('22두산_11.csv',encoding = 'UTF-8')
df = df[1:]
df = df.drop('Unnamed: 0',axis=1)
df = pd.DataFrame(data = df.values,
                  columns = column)
df
#df.to_csv('22시즌_vs우언경기팀순위.csv')

In [79]:
team_basic = pd.DataFrame(columns = ['순', '이름', '팀', 'WAR*', 'G', '타석', '타수', '득점', '안타', '2타', '3타', '홈런',
       '루타', '타점', '도루', '도실', '볼넷', '사구', '고4', '삼진', '병살', '희타', '희비', '타율',
       '출루', '장타', 'OPS', 'wOBA', 'wRC+', 'WAR*', 'WPA'])
for year in range(2012,2023):
    url = f'http://www.statiz.co.kr/stat.php?opt=0&sopt=0&re=0&ys={year}&ye={year}&se=0&te=&tm=&ty=0&qu=auto&po=0&as=&ae=&hi=&un=&pl=&da=1&o1=WAR_ALL_ADJ&de=1&lr=5&tr=&cv=&ml=1&sn=30&si=&cn='
    year_s = pd.read_html(url)[0].iloc[4:,:31]
    year_s.columns =year_s.columns.droplevel([0,1])
    team_basic = pd.concat([team_basic,year_s])

In [83]:
team_basic.reset_index(drop=True,inplace = True)
team_basic

,순,이름,팀,WAR*,G,타석,타수,득점,안타,2타,...,희타,희비,타율,출루,장타,OPS,wOBA,wRC+,WAR*,WPA
0,1,삼성,12,33.80,1668,5161,4436,628,1205,200,...,91,47,.272,.353,.389,.742,.344,113.9,33.80,NaN
1,2,SK,12,24.08,1642,4996,4347,564,1120,197,...,118,28,.258,.333,.384,.717,.330,103.9,24.08,NaN
2,3,KIA,12,23.96,1613,5131,4348,553,1112,197,...,132,47,.256,.343,.347,.690,.321,98.1,23.96,NaN
3,4,넥센,12,23.82,1626,5021,4338,549,1056,189,...,92,43,.243,.325,.370,.696,.322,98.7,23.82,NaN
4,5,LG,12,23.42,1733,5180,4539,544,1184,212,...,80,50,.261,.332,.354,.687,.321,97.7,23.42,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101,6,삼성,22,20.58,1819,5647,5023,663,1357,241,...,83,41,.270,.334,.387,.721,.328,99.3,20.58,-0.42
102,7,KT,22,19.09,1889,5547,4864,631,1237,191,...,70,44,.254,.330,.375,.704,.322,95.7,19.09,1.09
103,8,두산,22,18.32,1903,5510,4892,638,1249,210,...,53,44,.255,.324,.365,.689,.318,97.5,18.32,-3.71
104,9,롯데,22,16.62,1761,5534,4948,605,1320,227,...,73,42,.267,.328,.383,.711,.324,96.4,16.62,-3.65
105,10,한화,22,13.49,1614,5513,4877,564,1197,217,...,46,40,.245,.319,.352,.671,.311,89.7,13.49,-13.54

In [85]:
team_basic.to_csv('10년치리그기록/10년간리그기록_기본.csv')

In [103]:
column = ['순', '이름', '팀', 'WPA', '타석', 'PA', '%', '타율', '타점', '순수', '주자', '%',
       '타격', '주루', 'RE24', 'REW', '타격', '주루', 'Plus', 'Minus', 'WPA', 'pLI',
       'WPA/LI', 'Clutch', 'ph', 'phLI']
team_clutch = pd.DataFrame(columns = column)
for year in range(2012,2023):
    url = f'http://www.statiz.co.kr/stat.php?opt=0&sopt=0&re=0&ys={year}&ye={year}&se=0&te=&tm=&ty=0&qu=auto&po=0&as=&ae=&hi=&un=&pl=&da=4&o1=WPA&de=1&o2=WAR_ALL&lr=5&tr=&cv=&ml=1&sn=30&si=&cn='
    year_s = pd.read_html(url)[0].iloc[4:,:26]
    year_s.columns =year_s.columns.droplevel([0,1])
    team_clutch = pd.concat([team_clutch,year_s])
team_clutch

,순,이름,팀,WPA,타석,PA,%,타율,타점,순수,...,타격,주루,Plus,Minus,WPA,pLI,WPA/LI,Clutch,ph,phLI
4,NaN,삼성,12,NaN,5161,NaN,NaN,NaN,585,496,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,SK,12,NaN,4996,NaN,NaN,NaN,523,415,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,KIA,12,NaN,5131,NaN,NaN,NaN,518,464,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,넥센,12,NaN,5021,NaN,NaN,NaN,509,407,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,LG,12,NaN,5180,NaN,NaN,NaN,512,453,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9,6,키움,22,-1.21,5655,1553,27.5,.243,577,483,...,-3.14,1.93,96.84,-98.06,-1.21,1.06,-2.94,1.80,136,1.26
10,7,롯데,22,-3.65,5534,1467,26.5,.259,570,464,...,-4.44,0.81,91.57,-95.21,-3.65,1.00,-3.83,0.18,172,1.24
11,8,두산,22,-3.71,5510,1452,26.4,.266,592,491,...,-5.32,1.62,91.97,-95.70,-3.71,1.02,-4.11,0.49,148,1.44
12,9,NC,22,-7.33,5585,1517,27.2,.265,613,508,...,-8.14,0.81,91.02,-98.36,-7.33,1.02,-2.47,-4.70,136,1.04
13,10,한화,22,-13.54,5513,1507,27.3,.237,520,432,...,-14.84,1.31,90.57,-104.11,-13.54,1.07,-8.33,-4.31,150,1.28

In [104]:
pd.set_option('display.max_columns', None)

In [106]:
team_clutch.columns

Index(['순', '이름', '팀', 'WPA', '타석', 'PA', '%', '타율', '타점', '순수', '주자', '%',
       '타격', '주루', 'RE24', 'REW', '타격', '주루', 'Plus', 'Minus', 'WPA', 'pLI',
       'WPA/LI', 'Clutch', 'ph', 'phLI'],
      dtype='object')

In [108]:
team_clutch.columns = ['순', '이름', '팀', 'WPA(정렬)', 
                       '타석', '득점권PA', '득점권%', '득점권타율', 
                       '타점', 
                       '순수타점', '주자', '타점%',
       'RE24타격', 'RE24주루', 'RE24', 'REW', 
       'WPA타격', 'WPA주루', 'WPA_Plus', 'WPA_Minus', 'WPA', 'pLI',
       'WPA/LI', 'Clutch', 'ph', 'phLI']

In [110]:
team_clutch.to_csv('10년치리그기록/10년간리그기록_클러치.csv')

In [119]:
column = ['순', '이름', '팀', 'P/PA', '타석', '투구', 'P/PA', '루킹', '헛스윙', '파울', '타격',
       'S', 'B', '전체', '초구', '컨택%', '2S후커트%', '2S후선구%', '스윙', '루킹', 'LSO%',
       'N', '스윙', 'W%']
team_at_bat = pd.DataFrame(columns = column)
for year in range(2012,2023):
    url = f'http://www.statiz.co.kr/stat.php?opt=0&sopt=0&re=0&ys={year}&ye={year}&se=0&te=&tm=&ty=0&qu=auto&po=0&as=&ae=&hi=&un=&pl=&da=5&o1=PPA&de=1&o2=WAR_ALL&lr=5&tr=&cv=&ml=1&sn=30&si=&cn='
    year_s = pd.read_html(url)[0].iloc[4:,:24]
    year_s.columns =year_s.columns.droplevel([0,1])
    team_at_bat = pd.concat([team_at_bat,year_s])
team_at_bat

,순,이름,팀,P/PA,타석,투구,P/PA,루킹,헛스윙,파울,타격,S,B,전체,초구,컨택%,2S후커트%,2S후선구%,스윙,루킹,LSO%,N,스윙,W%
4,NaN,삼성,12,NaN,5161,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,SK,12,NaN,4996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,KIA,12,NaN,5131,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,넥센,12,NaN,5021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,LG,12,NaN,5180,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9,6,NC,22,3.87,5585,21587,3.87,27.8,14.7,28.3,29.2,63.7,36.3,46.0,26.1,79.6,76.1,34.1,795,186,19.0,5933,492,8.3
10,7,두산,22,3.82,5510,21048,3.82,25.5,16.2,28.8,29.5,64.1,35.9,47.8,30.9,78.2,74.9,33.7,789,218,21.7,6007,548,9.1
11,8,SSG,22,3.81,5642,21517,3.81,26.1,16.6,28.3,29.0,63.2,36.8,46.7,32.0,77.5,72.9,35.4,866,209,19.4,5716,481,8.4
12,9,삼성,22,3.81,5647,21524,3.81,28.2,15.2,26.8,29.7,64.4,35.6,46.2,25.5,78.8,74.8,32.5,818,211,20.5,6095,502,8.2
13,10,롯데,22,3.75,5534,20764,3.75,27.1,15.7,26.9,30.4,64.6,35.4,47.1,29.2,78.5,74.5,32.8,779,212,21.4,5921,471,8.0

In [120]:
team_at_bat.columns = ['순', '이름', '팀', 'P/PA(정렬)', '타석', '투구',
                        'P/PA', 'S_루킹', 'S_헛스윙', 'S_파울', 'S_타격',
       'S_투구비율%', 'B_투구비율%', '배트적극성_전체%', '배트적극성_초구%', '컨택%', '2S후커트%', '2S후선구%',
         '스윙삼진', '루킹삼진', 'LSO%',
       '배팅찬스_N', '배팅찬스_스윙', '배팅찬스_W%']

In [121]:
team_at_bat.to_csv('10년치리그기록/10년간리그기록_타석.csv')

In [133]:
bears = pd.DataFrame(columns = ['득점','경기','승','패','무','승률'])
for year in range(2012,2023):
    url = f"http://www.statiz.co.kr/team.php?cteam=%EB%91%90%EC%82%B0%2BOB&year={year}&opt=0&sopt=2"
    bears_data = pd.read_html(url)[1]
    bears_data['시즌'] = year
    bears = pd.concat([bears,bears_data])

In [134]:
bears

    득점  경기   승   패  무     승률      시즌
0    0  13   0  13  0  0.000  2012.0
1    1  16   1  15  0  0.063  2012.0
2    2  20   8  11  1  0.421  2012.0
3    3  16   7   8  1  0.467  2012.0
4    4  23  14   8  1  0.636  2012.0
..  ..  ..  ..  .. ..    ...     ...
11  11   4   4   0  0  1.000  2022.0
12  12   1   1   0  0  1.000  2022.0
13  13   2   1   1  0  0.500  2022.0
14  16   3   3   0  0  1.000  2022.0
15  24   1   1   0  0  1.000  2022.0

[183 rows x 7 columns]

In [135]:
bears.to_csv('10년치두산기록/두산10년_득점분포및승률.csv')

In [140]:
import pandas as pd

def get_data(year):
    url = f"http://www.statiz.co.kr/team.php?cteam=%EB%91%90%EC%82%B0%2BOB&year={year}&opt=0&sopt=2"
    for i in range(1,7):
        bears_data = pd.read_html(url)[i]
        bears_data['Season'] = year
        bears_data.to_csv(f"bears_data_{year}_{i}.csv", index=False)
def main():
    for year in range(2012, 2023):
        get_data(year)

if __name__ == "__main__":
    main()

In [144]:
for year in range(2012,2023):
    a = pd.read_csv(f'bears_data_{year}_1.csv',encoding = 'UTF-8')
    a

In [130]:
'''import pandas as pd

def get_data(year):
    url = f"http://www.statiz.co.kr/team.php?cteam=%EB%91%90%EC%82%B0%2BOB&year={year}&opt=0&sopt=2"
    data = pd.DataFrame()
    for i in range(1,7):
        bears_data = pd.read_html(url)[i]
        bears_data['Season'] = year
        data = data.append(bears_data, ignore_index=True)
    return data

def main():
    all_data = pd.DataFrame()
    for year in range(2012, 2023):
        data = get_data(year)
        all_data = all_data.append(data, ignore_index=True)
    all_data.to_csv("bears_data.csv", index=False)

if __name__ == "__main__":
    main()'''

C:\Users\josuh\AppData\Local\Temp\ipykernel_1688\2795470283.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(bears_data, ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_1688\2795470283.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(bears_data, ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_1688\2795470283.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(bears_data, ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_1688\2795470283.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(bears_data, ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_1688\2795470283.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(bears_data, ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_1688\2795470283.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(bears_data, ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_1688\2795470283.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(data, ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_1688\2795470283.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(bears_data, ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_1688\2795470283.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(bears_data, ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_1688\2795470283.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(bears_data, ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_1688\2795470283.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(bears_data, ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_1688\2795470283.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(bears_data, ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_1688\2795470283.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(bears_data, ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_1688\2795470283.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(data, ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_1688\2795470283.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(bears_data, ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_1688\2795470283.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(bears_data, ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_1688\2795470283.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(bears_data, ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_1688\2795470283.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(bears_data, ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_1688\2795470283.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(bears_data, ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_1688\2795470283.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(bears_data, ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_1688\2795470283.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(data, ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_1688\2795470283.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(bears_data, ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_1688\2795470283.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(bears_data, ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_1688\2795470283.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(bears_data, ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_1688\2795470283.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(bears_data, ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_1688\2795470283.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(bears_data, ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_1688\2795470283.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(bears_data, ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_1688\2795470283.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(data, ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_1688\2795470283.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(bears_data, ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_1688\2795470283.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(bears_data, ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_1688\2795470283.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(bears_data, ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_1688\2795470283.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(bears_data, ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_1688\2795470283.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(bears_data, ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_1688\2795470283.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(bears_data, ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_1688\2795470283.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(data, ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_1688\2795470283.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(bears_data, ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_1688\2795470283.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(bears_data, ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_1688\2795470283.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(bears_data, ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_1688\2795470283.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(bears_data, ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_1688\2795470283.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(bears_data, ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_1688\2795470283.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(bears_data, ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_1688\2795470283.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(data, ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_1688\2795470283.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(bears_data, ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_1688\2795470283.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(bears_data, ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_1688\2795470283.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(bears_data, ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_1688\2795470283.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(bears_data, ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_1688\2795470283.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(bears_data, ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_1688\2795470283.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(bears_data, ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_1688\2795470283.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(data, ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_1688\2795470283.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(bears_data, ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_1688\2795470283.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(bears_data, ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_1688\2795470283.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(bears_data, ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_1688\2795470283.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(bears_data, ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_1688\2795470283.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(bears_data, ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_1688\2795470283.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(bears_data, ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_1688\2795470283.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(data, ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_1688\2795470283.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(bears_data, ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_1688\2795470283.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(bears_data, ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_1688\2795470283.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(bears_data, ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_1688\2795470283.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(bears_data, ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_1688\2795470283.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(bears_data, ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_1688\2795470283.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(bears_data, ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_1688\2795470283.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(data, ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_1688\2795470283.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(bears_data, ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_1688\2795470283.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(bears_data, ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_1688\2795470283.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(bears_data, ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_1688\2795470283.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(bears_data, ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_1688\2795470283.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(bears_data, ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_1688\2795470283.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(bears_data, ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_1688\2795470283.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(data, ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_1688\2795470283.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(bears_data, ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_1688\2795470283.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(bears_data, ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_1688\2795470283.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(bears_data, ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_1688\2795470283.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(bears_data, ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_1688\2795470283.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(bears_data, ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_1688\2795470283.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(bears_data, ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_1688\2795470283.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(data, ignore_index=True)