In [1]:
from selenium import webdriver
from bs4 import BeautifulSoup
import pandas as pd
pd.set_option('display.max_columns', None)

In [2]:
#크롬 드라이버 버전 확인 Chrome://version

chrome_options = webdriver.ChromeOptions()
chrome_options.add_argument('--headless') #내부 창을 띄울 수 없으므로 설정
chrome_options.add_argument('--no-sandbox')
chrome_options.add_argument('--disable-dev-shm-usage')
chromeDriver = webdriver.Chrome('chromedriver',chrome_options=chrome_options)

C:\Users\josuh\AppData\Local\Temp\ipykernel_16872\3319340911.py:7: DeprecationWarning: use options instead of chrome_options
  chromeDriver = webdriver.Chrome('chromedriver',chrome_options=chrome_options)

In [3]:
chromeDriver.get("http://www.statiz.co.kr/team.php?opt=0&sopt=2&year=2022&team=%EB%91%90%EC%82%B0")
#사용할 URL

html = chromeDriver.page_source
bsObject = BeautifulSoup(html, 'html.parser')

In [4]:
temp = bsObject.find_all('table')[2]
temp

<table class="table table-striped">
<tbody><tr><th>득점</th><th>경기</th><th>승</th><th>패</th><th>무</th><th>승률</th></tr>
<tr><td>0</td><td>15</td><td>0</td><td>15</td><td>0</td><td>0.000</td></tr><tr><td>1</td><td>20</td><td>2</td><td>18</td><td>0</td><td>0.100</td></tr><tr><td>2</td><td>13</td><td>3</td><td>10</td><td>0</td><td>0.231</td></tr><tr><td>3</td><td>19</td><td>4</td><td>14</td><td>1</td><td>0.222</td></tr><tr><td>4</td><td>17</td><td>8</td><td>9</td><td>0</td><td>0.471</td></tr><tr><td>5</td><td>18</td><td>12</td><td>6</td><td>0</td><td>0.667</td></tr><tr><td>6</td><td>14</td><td>9</td><td>5</td><td>0</td><td>0.643</td></tr><tr><td>7</td><td>6</td><td>3</td><td>3</td><td>0</td><td>0.500</td></tr><tr><td>8</td><td>4</td><td>4</td><td>0</td><td>0</td><td>1.000</td></tr><tr><td>9</td><td>5</td><td>4</td><td>0</td><td>1</td><td>1.000</td></tr><tr><td>10</td><td>2</td><td>1</td><td>1</td><td>0</td><td>0.500</td></tr><tr><td>11</td><td>4</td><td>4</td><td>0</td><td>0</td><td>1.000</td></tr><tr><td>12</td><td>1</td><td>1</td><td>0</td><td>0</td><td>1.000</td></tr><tr><td>13</td><td>2</td><td>1</td><td>1</td><td>0</td><td>0.500</td></tr><tr><td>16</td><td>3</td><td>3</td><td>0</td><td>0</td><td>1.000</td></tr><tr><td>24</td><td>1</td><td>1</td><td>0</td><td>0</td><td>1.000</td></tr> </tbody></table>

In [5]:
column = ['득점','경기','승','패','무','승률']
df = pd.DataFrame(columns=column)
templen = len(temp.find_all('tr'))

for i in range(1,templen):
  tempTr = temp.find_all("tr")[i]
  if(tempTr.find("th") is not None):
    continue
  row = {}
  column_idx = 0
  for j in range(6):
    tempTd = tempTr.find_all("td")[j].text
    row[column[column_idx]] = tempTd
    column_idx += 1
  df = df.append(row,ignore_index=True)

C:\Users\josuh\AppData\Local\Temp\ipykernel_16872\11314509.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row,ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_16872\11314509.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row,ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_16872\11314509.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row,ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_16872\11314509.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row,ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_16872\11314509.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row,ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_16872\11314509.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row,ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_16872\11314509.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row,ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_16872\11314509.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row,ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_16872\11314509.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row,ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_16872\11314509.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row,ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_16872\11314509.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row,ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_16872\11314509.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row,ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_16872\11314509.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row,ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_16872\11314509.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row,ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_16872\11314509.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row,ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_16872\11314509.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row,ignore_index=True)

In [6]:
df

    득점  경기   승   패  무     승률
0    0  15   0  15  0  0.000
1    1  20   2  18  0  0.100
2    2  13   3  10  0  0.231
3    3  19   4  14  1  0.222
4    4  17   8   9  0  0.471
5    5  18  12   6  0  0.667
6    6  14   9   5  0  0.643
7    7   6   3   3  0  0.500
8    8   4   4   0  0  1.000
9    9   5   4   0  1  1.000
10  10   2   1   1  0  0.500
11  11   4   4   0  0  1.000
12  12   1   1   0  0  1.000
13  13   2   1   1  0  0.500
14  16   3   3   0  0  1.000
15  24   1   1   0  0  1.000

In [7]:
#df.to_csv('22두산_득점분포및승률.csv')

In [8]:
temp = bsObject.find_all('table')[3]
temp

<table class="table table-striped">
<tbody><tr><th>실점</th><th>경기</th><th>승</th><th>패</th><th>무</th><th>승률</th></tr>
<tr class="oddrow_stz"><td>0</td><td>7</td><td>7</td><td>0</td><td>0</td><td>1.000</td></tr><tr class="evenrow_stz"><td>1</td><td>14</td><td>13</td><td>1</td><td>0</td><td>0.929</td></tr><tr class="oddrow_stz"><td>2</td><td>15</td><td>11</td><td>4</td><td>0</td><td>0.733</td></tr><tr class="evenrow_stz"><td>3</td><td>14</td><td>10</td><td>3</td><td>1</td><td>0.769</td></tr><tr class="oddrow_stz"><td>4</td><td>23</td><td>9</td><td>14</td><td>0</td><td>0.391</td></tr><tr class="evenrow_stz"><td>5</td><td>25</td><td>5</td><td>20</td><td>0</td><td>0.200</td></tr><tr class="oddrow_stz"><td>6</td><td>9</td><td>0</td><td>9</td><td>0</td><td>0.000</td></tr><tr class="evenrow_stz"><td>7</td><td>5</td><td>2</td><td>3</td><td>0</td><td>0.400</td></tr><tr class="oddrow_stz"><td>8</td><td>11</td><td>2</td><td>9</td><td>0</td><td>0.182</td></tr><tr class="evenrow_stz"><td>9</td><td>6</td><td>0</td><td>5</td><td>1</td><td>0.000</td></tr><tr class="oddrow_stz"><td>10</td><td>1</td><td>0</td><td>1</td><td>0</td><td>0.000</td></tr><tr class="evenrow_stz"><td>11</td><td>7</td><td>1</td><td>6</td><td>0</td><td>0.143</td></tr><tr class="oddrow_stz"><td>13</td><td>2</td><td>0</td><td>2</td><td>0</td><td>0.000</td></tr><tr class="evenrow_stz"><td>14</td><td>3</td><td>0</td><td>3</td><td>0</td><td>0.000</td></tr><tr class="oddrow_stz"><td>16</td><td>2</td><td>0</td><td>2</td><td>0</td><td>0.000</td></tr>
</tbody></table>

In [9]:
column = ['실점','경기','승','패','무','승률']
df = pd.DataFrame(columns=column)
templen = len(temp.find_all('tr'))

for i in range(1,templen):
  tempTr = temp.find_all("tr")[i]
  if(tempTr.find("th") is not None):
    continue
  row = {}
  column_idx = 0
  for j in range(6):
    tempTd = tempTr.find_all("td")[j].text
    row[column[column_idx]] = tempTd
    column_idx += 1
  df = df.append(row,ignore_index=True)

C:\Users\josuh\AppData\Local\Temp\ipykernel_16872\1569065219.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row,ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_16872\1569065219.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row,ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_16872\1569065219.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row,ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_16872\1569065219.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row,ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_16872\1569065219.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row,ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_16872\1569065219.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row,ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_16872\1569065219.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row,ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_16872\1569065219.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row,ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_16872\1569065219.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row,ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_16872\1569065219.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row,ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_16872\1569065219.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row,ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_16872\1569065219.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row,ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_16872\1569065219.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row,ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_16872\1569065219.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row,ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_16872\1569065219.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row,ignore_index=True)

In [10]:
df

    실점  경기   승   패  무     승률
0    0   7   7   0  0  1.000
1    1  14  13   1  0  0.929
2    2  15  11   4  0  0.733
3    3  14  10   3  1  0.769
4    4  23   9  14  0  0.391
5    5  25   5  20  0  0.200
6    6   9   0   9  0  0.000
7    7   5   2   3  0  0.400
8    8  11   2   9  0  0.182
9    9   6   0   5  1  0.000
10  10   1   0   1  0  0.000
11  11   7   1   6  0  0.143
12  13   2   0   2  0  0.000
13  14   3   0   3  0  0.000
14  16   2   0   2  0  0.000

In [11]:
#df.to_csv('22두산_실점분포및승률.csv')

In [12]:
temp = bsObject.find_all('table')[4]
temp

<table class="table table-striped">
<tbody><tr><th style="text-align:center;">이<br/>닝</th><!--<th>경기</th>-->
<th style="text-align:center;">0<br/>점</th>
<th style="text-align:center;">1+<br/>점</th>
<th style="text-align:center;">1<br/>점</th>
<th style="text-align:center;">2<br/>점</th>
<th style="text-align:center;">3<br/>점</th>
<th style="text-align:center;">4<br/>점</th>
<th style="text-align:center;">5+<br/>점</th>
<th style="text-align:center;">최<br/>다</th>
<!--<th>합계</th>--><th style="text-align:center;">평<br/>균</th><!--<th>평균/9</th>--></tr>
<tr><td style="text-align:center;">1</td><td style="text-align:center;">102</td><td style="text-align:center;">42</td><td style="text-align:center;">23</td><td style="text-align:center;">5</td><td style="text-align:center;">6</td><td style="text-align:center;">5</td><td style="text-align:center;">3</td><td style="text-align:center;">11</td><td style="text-align:center;">0.65</td></tr><tr><td style="text-align:center;">2</td><td style="text-align:center;">106</td><td style="text-align:center;">38</td><td style="text-align:center;">23</td><td style="text-align:center;">8</td><td style="text-align:center;">5</td><td style="text-align:center;">2</td><td style="text-align:center;">0</td><td style="text-align:center;">4</td><td style="text-align:center;">0.43</td></tr><tr><td style="text-align:center;">3</td><td style="text-align:center;">109</td><td style="text-align:center;">35</td><td style="text-align:center;">21</td><td style="text-align:center;">7</td><td style="text-align:center;">5</td><td style="text-align:center;">1</td><td style="text-align:center;">1</td><td style="text-align:center;">6</td><td style="text-align:center;">0.42</td></tr><tr><td style="text-align:center;">4</td><td style="text-align:center;">107</td><td style="text-align:center;">37</td><td style="text-align:center;">22</td><td style="text-align:center;">9</td><td style="text-align:center;">4</td><td style="text-align:center;">1</td><td style="text-align:center;">1</td><td style="text-align:center;">5</td><td style="text-align:center;">0.42</td></tr><tr><td style="text-align:center;">5</td><td style="text-align:center;">113</td><td style="text-align:center;">31</td><td style="text-align:center;">15</td><td style="text-align:center;">10</td><td style="text-align:center;">3</td><td style="text-align:center;">1</td><td style="text-align:center;">2</td><td style="text-align:center;">5</td><td style="text-align:center;">0.40</td></tr><tr><td style="text-align:center;">6</td><td style="text-align:center;">103</td><td style="text-align:center;">41</td><td style="text-align:center;">20</td><td style="text-align:center;">11</td><td style="text-align:center;">8</td><td style="text-align:center;">1</td><td style="text-align:center;">1</td><td style="text-align:center;">9</td><td style="text-align:center;">0.55</td></tr><tr><td style="text-align:center;">7</td><td style="text-align:center;">107</td><td style="text-align:center;">37</td><td style="text-align:center;">24</td><td style="text-align:center;">2</td><td style="text-align:center;">5</td><td style="text-align:center;">4</td><td style="text-align:center;">2</td><td style="text-align:center;">7</td><td style="text-align:center;">0.49</td></tr><tr><td style="text-align:center;">8</td><td style="text-align:center;">101</td><td style="text-align:center;">43</td><td style="text-align:center;">22</td><td style="text-align:center;">11</td><td style="text-align:center;">6</td><td style="text-align:center;">1</td><td style="text-align:center;">3</td><td style="text-align:center;">5</td><td style="text-align:center;">0.56</td></tr><tr><td style="text-align:center;">9</td><td style="text-align:center;">84</td><td style="text-align:center;">31</td><td style="text-align:center;">15</td><td style="text-align:center;">8</td><td style="text-align:center;">2</td><td style="text-align:center;">3</td><td style="text-align:center;">3</td><td style="text-align:center;">6</td><td style="text-align:center;">0.57</td></tr><tr><td style="text-align:center;">10</td><td style="text-align:center;">9</td><td style="text-align:center;">2</td><td style="text-align:center;">1</td><td style="text-align:center;">1</td><td style="text-align:center;">0</td><td style="text-align:center;">0</td><td style="text-align:center;">0</td><td style="text-align:center;">2</td><td style="text-align:center;">0.27</td></tr><tr><td style="text-align:center;">11</td><td style="text-align:center;">5</td><td style="text-align:center;">2</td><td style="text-align:center;">1</td><td style="text-align:center;">0</td><td style="text-align:center;">0</td><td style="text-align:center;">1</td><td style="text-align:center;">0</td><td style="text-align:center;">4</td><td style="text-align:center;">0.71</td></tr><tr><td style="text-align:center;">12</td><td style="text-align:center;">4</td><td style="text-align:center;">0</td><td style="text-align:center;">0</td><td style="text-align:center;">0</td><td style="text-align:center;">0</td><td style="text-align:center;">0</td><td style="text-align:center;">0</td><td style="text-align:center;">0</td><td style="text-align:center;">0.00</td></tr>
<!--
  <tr><th>이닝</th><th>경기</th><th>0점</th><th>1+점</th><th>1점</th><th>2점</th><th>3점</th><th>4점</th><th>5+점</th><th>최다</th>
  <th>합계</th><th>평균</th><th>평균/9</th></tr>
<tr><td></td><td>1289</td><td>950</td><td>339</td><td>187</td><td>72</td><td>44</td><td>20</td><td>16</td><td>64</td><td>638</td><td>0.49</td><td>4.45</td></tr>-->
</tbody></table>

In [13]:
column = ['이닝','0점','1+점','1점','2점','3점','4점','5+점','최다','평균']
df = pd.DataFrame(columns=column)
templen = len(temp.find_all('tr'))

for i in range(1,templen):
  tempTr = temp.find_all("tr")[i]
  if(tempTr.find("th") is not None):
    continue
  row = {}
  column_idx = 0
  for j in range(10):
    tempTd = tempTr.find_all("td")[j].text
    row[column[column_idx]] = tempTd
    column_idx += 1
  df = df.append(row,ignore_index=True)

C:\Users\josuh\AppData\Local\Temp\ipykernel_16872\1669312155.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row,ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_16872\1669312155.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row,ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_16872\1669312155.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row,ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_16872\1669312155.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row,ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_16872\1669312155.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row,ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_16872\1669312155.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row,ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_16872\1669312155.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row,ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_16872\1669312155.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row,ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_16872\1669312155.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row,ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_16872\1669312155.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row,ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_16872\1669312155.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row,ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_16872\1669312155.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row,ignore_index=True)

In [14]:
df

    이닝   0점 1+점  1점  2점 3점 4점 5+점  최다    평균
0    1  102  42  23   5  6  5   3  11  0.65
1    2  106  38  23   8  5  2   0   4  0.43
2    3  109  35  21   7  5  1   1   6  0.42
3    4  107  37  22   9  4  1   1   5  0.42
4    5  113  31  15  10  3  1   2   5  0.40
5    6  103  41  20  11  8  1   1   9  0.55
6    7  107  37  24   2  5  4   2   7  0.49
7    8  101  43  22  11  6  1   3   5  0.56
8    9   84  31  15   8  2  3   3   6  0.57
9   10    9   2   1   1  0  0   0   2  0.27
10  11    5   2   1   0  0  1   0   4  0.71
11  12    4   0   0   0  0  0   0   0  0.00

In [15]:
#df.to_csv('22두산_이닝별득점.csv')

In [16]:
temp = bsObject.find_all('table')[5]
temp

<table class="table table-striped">
<tbody><tr><th style="text-align:center;">이<br/>닝</th><!--<th>경기</th>-->
<th style="text-align:center;">0<br/>점</th>
<th style="text-align:center;">1+<br/>점</th>
<th style="text-align:center;">1<br/>점</th>
<th style="text-align:center;">2<br/>점</th>
<th style="text-align:center;">3<br/>점</th>
<th style="text-align:center;">4<br/>점</th>
<th style="text-align:center;">5+<br/>점</th>
<th style="text-align:center;">최<br/>다</th>
<!--<th>합계</th>--><th style="text-align:center;">평<br/>균</th><!--<th>평균/9</th>--></tr>
<tr><td style="text-align:center;">1</td><td style="text-align:center;">102</td><td style="text-align:center;">42</td><td style="text-align:center;">24</td><td style="text-align:center;">7</td><td style="text-align:center;">7</td><td style="text-align:center;">1</td><td style="text-align:center;">3</td><td style="text-align:center;">6</td><td style="text-align:center;">0.56</td></tr><tr><td style="text-align:center;">2</td><td style="text-align:center;">95</td><td style="text-align:center;">49</td><td style="text-align:center;">32</td><td style="text-align:center;">10</td><td style="text-align:center;">3</td><td style="text-align:center;">3</td><td style="text-align:center;">1</td><td style="text-align:center;">5</td><td style="text-align:center;">0.54</td></tr><tr><td style="text-align:center;">3</td><td style="text-align:center;">96</td><td style="text-align:center;">48</td><td style="text-align:center;">21</td><td style="text-align:center;">13</td><td style="text-align:center;">8</td><td style="text-align:center;">3</td><td style="text-align:center;">3</td><td style="text-align:center;">5</td><td style="text-align:center;">0.68</td></tr><tr><td style="text-align:center;">4</td><td style="text-align:center;">113</td><td style="text-align:center;">31</td><td style="text-align:center;">16</td><td style="text-align:center;">5</td><td style="text-align:center;">5</td><td style="text-align:center;">4</td><td style="text-align:center;">1</td><td style="text-align:center;">5</td><td style="text-align:center;">0.43</td></tr><tr><td style="text-align:center;">5</td><td style="text-align:center;">102</td><td style="text-align:center;">42</td><td style="text-align:center;">20</td><td style="text-align:center;">14</td><td style="text-align:center;">3</td><td style="text-align:center;">2</td><td style="text-align:center;">3</td><td style="text-align:center;">7</td><td style="text-align:center;">0.58</td></tr><tr><td style="text-align:center;">6</td><td style="text-align:center;">107</td><td style="text-align:center;">37</td><td style="text-align:center;">16</td><td style="text-align:center;">10</td><td style="text-align:center;">6</td><td style="text-align:center;">4</td><td style="text-align:center;">1</td><td style="text-align:center;">5</td><td style="text-align:center;">0.52</td></tr><tr><td style="text-align:center;">7</td><td style="text-align:center;">96</td><td style="text-align:center;">48</td><td style="text-align:center;">23</td><td style="text-align:center;">13</td><td style="text-align:center;">3</td><td style="text-align:center;">6</td><td style="text-align:center;">3</td><td style="text-align:center;">6</td><td style="text-align:center;">0.69</td></tr><tr><td style="text-align:center;">8</td><td style="text-align:center;">90</td><td style="text-align:center;">53</td><td style="text-align:center;">26</td><td style="text-align:center;">17</td><td style="text-align:center;">6</td><td style="text-align:center;">2</td><td style="text-align:center;">2</td><td style="text-align:center;">6</td><td style="text-align:center;">0.69</td></tr><tr><td style="text-align:center;">9</td><td style="text-align:center;">88</td><td style="text-align:center;">21</td><td style="text-align:center;">14</td><td style="text-align:center;">0</td><td style="text-align:center;">5</td><td style="text-align:center;">2</td><td style="text-align:center;">0</td><td style="text-align:center;">4</td><td style="text-align:center;">0.34</td></tr><tr><td style="text-align:center;">10</td><td style="text-align:center;">7</td><td style="text-align:center;">4</td><td style="text-align:center;">3</td><td style="text-align:center;">1</td><td style="text-align:center;">0</td><td style="text-align:center;">0</td><td style="text-align:center;">0</td><td style="text-align:center;">2</td><td style="text-align:center;">0.45</td></tr><tr><td style="text-align:center;">11</td><td style="text-align:center;">6</td><td style="text-align:center;">1</td><td style="text-align:center;">1</td><td style="text-align:center;">0</td><td style="text-align:center;">0</td><td style="text-align:center;">0</td><td style="text-align:center;">0</td><td style="text-align:center;">1</td><td style="text-align:center;">0.14</td></tr><tr><td style="text-align:center;">12</td><td style="text-align:center;">1</td><td style="text-align:center;">3</td><td style="text-align:center;">2</td><td style="text-align:center;">0</td><td style="text-align:center;">1</td><td style="text-align:center;">0</td><td style="text-align:center;">0</td><td style="text-align:center;">3</td><td style="text-align:center;">1.25</td></tr><!--
  <tr><th>이닝</th><th>경기</th><th>0점</th><th>1+점</th><th>1점</th><th>2점</th><th>3점</th><th>4점</th><th>5+점</th><th>최다</th>
  <th>합계</th><th>평균</th><th>평균/9</th>  </tr>

<tr><td></td><td>1289</td><td>903</td><td>379</td><td>198</td><td>90</td><td>47</td><td>27</td><td>17</td><td>55</td><td>721</td><td>0.56</td><td>5.03</td></tr>-->
</tbody></table>

In [17]:
column = ['이닝','0점','1+점','1점','2점','3점','4점','5+점','최다','평균']
df = pd.DataFrame(columns=column)
templen = len(temp.find_all('tr'))

for i in range(1,templen):
  tempTr = temp.find_all("tr")[i]
  if(tempTr.find("th") is not None):
    continue
  row = {}
  column_idx = 0
  for j in range(10):
    tempTd = tempTr.find_all("td")[j].text
    row[column[column_idx]] = tempTd
    column_idx += 1
  df = df.append(row,ignore_index=True)

C:\Users\josuh\AppData\Local\Temp\ipykernel_16872\1669312155.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row,ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_16872\1669312155.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row,ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_16872\1669312155.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row,ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_16872\1669312155.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row,ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_16872\1669312155.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row,ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_16872\1669312155.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row,ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_16872\1669312155.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row,ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_16872\1669312155.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row,ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_16872\1669312155.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row,ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_16872\1669312155.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row,ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_16872\1669312155.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row,ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_16872\1669312155.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row,ignore_index=True)

In [18]:
df

    이닝   0점 1+점  1점  2점 3점 4점 5+점 최다    평균
0    1  102  42  24   7  7  1   3  6  0.56
1    2   95  49  32  10  3  3   1  5  0.54
2    3   96  48  21  13  8  3   3  5  0.68
3    4  113  31  16   5  5  4   1  5  0.43
4    5  102  42  20  14  3  2   3  7  0.58
5    6  107  37  16  10  6  4   1  5  0.52
6    7   96  48  23  13  3  6   3  6  0.69
7    8   90  53  26  17  6  2   2  6  0.69
8    9   88  21  14   0  5  2   0  4  0.34
9   10    7   4   3   1  0  0   0  2  0.45
10  11    6   1   1   0  0  0   0  1  0.14
11  12    1   3   2   0  1  0   0  3  1.25

In [19]:
#df.to_csv('22두산_이닝별실점.csv')

In [20]:
temp = bsObject.find_all('table')[6]
temp

<table class="table table-striped">
<tbody><tr><th>이닝</th><th>리드</th><th class="hidden-xs"></th><th>동점</th><th class="hidden-xs"></th><th>열세</th><th class="hidden-xs"></th></tr>
<tr><td>1</td><td></td><td class="hidden-xs"></td><td>60-82-2<span class="hidden-sm hidden-md hidden-lg"><br/>(0.423)</span></td><td class="hidden-xs">0.423</td><td></td><td class="hidden-xs"></td></tr><tr><td>2</td><td>18-16-0<span class="hidden-sm hidden-md hidden-lg"><br/>(0.529)</span></td><td class="hidden-xs">0.529</td><td>32-45-0<span class="hidden-sm hidden-md hidden-lg"><br/>(0.416)</span></td><td class="hidden-xs">0.416</td><td>10-21-2<span class="hidden-sm hidden-md hidden-lg"><br/>(0.323)</span></td><td class="hidden-xs">0.323</td></tr><tr><td>3</td><td>27-17-1<span class="hidden-sm hidden-md hidden-lg"><br/>(0.614)</span></td><td class="hidden-xs">0.614</td><td>16-32-0<span class="hidden-sm hidden-md hidden-lg"><br/>(0.333)</span></td><td class="hidden-xs">0.333</td><td>17-33-1<span class="hidden-sm hidden-md hidden-lg"><br/>(0.340)</span></td><td class="hidden-xs">0.340</td></tr><tr><td>4</td><td>33-17-1<span class="hidden-sm hidden-md hidden-lg"><br/>(0.660)</span></td><td class="hidden-xs">0.660</td><td>15-16-0<span class="hidden-sm hidden-md hidden-lg"><br/>(0.484)</span></td><td class="hidden-xs">0.484</td><td>12-49-1<span class="hidden-sm hidden-md hidden-lg"><br/>(0.197)</span></td><td class="hidden-xs">0.197</td></tr><tr><td>5</td><td>38-17-1<span class="hidden-sm hidden-md hidden-lg"><br/>(0.691)</span></td><td class="hidden-xs">0.691</td><td>10-13-0<span class="hidden-sm hidden-md hidden-lg"><br/>(0.435)</span></td><td class="hidden-xs">0.435</td><td>12-52-1<span class="hidden-sm hidden-md hidden-lg"><br/>(0.188)</span></td><td class="hidden-xs">0.188</td></tr><tr><td>6</td><td>40-10-0<span class="hidden-sm hidden-md hidden-lg"><br/>(0.800)</span></td><td class="hidden-xs">0.800</td><td>10-12-1<span class="hidden-sm hidden-md hidden-lg"><br/>(0.455)</span></td><td class="hidden-xs">0.455</td><td>10-60-1<span class="hidden-sm hidden-md hidden-lg"><br/>(0.143)</span></td><td class="hidden-xs">0.143</td></tr><tr><td>7</td><td>47-12-0<span class="hidden-sm hidden-md hidden-lg"><br/>(0.797)</span></td><td class="hidden-xs">0.797</td><td>4-4-1<span class="hidden-sm hidden-md hidden-lg"><br/>(0.500)</span></td><td class="hidden-xs">0.500</td><td>9-66-1<span class="hidden-sm hidden-md hidden-lg"><br/>(0.120)</span></td><td class="hidden-xs">0.120</td></tr><tr><td>8</td><td>51-7-0<span class="hidden-sm hidden-md hidden-lg"><br/>(0.879)</span></td><td class="hidden-xs">0.879</td><td>1-7-1<span class="hidden-sm hidden-md hidden-lg"><br/>(0.125)</span></td><td class="hidden-xs">0.125</td><td>8-68-1<span class="hidden-sm hidden-md hidden-lg"><br/>(0.105)</span></td><td class="hidden-xs">0.105</td></tr><tr><td>9</td><td>52-2-0<span class="hidden-sm hidden-md hidden-lg"><br/>(0.963)</span></td><td class="hidden-xs">0.963</td><td>5-9-1<span class="hidden-sm hidden-md hidden-lg"><br/>(0.357)</span></td><td class="hidden-xs">0.357</td><td>3-71-0<span class="hidden-sm hidden-md hidden-lg"><br/>(0.041)</span></td><td class="hidden-xs">0.041</td></tr><tr><td>10</td><td></td><td class="hidden-xs"></td><td>3-7-1<span class="hidden-sm hidden-md hidden-lg"><br/>(0.300)</span></td><td class="hidden-xs">0.300</td><td></td><td class="hidden-xs"></td></tr><tr><td>11</td><td></td><td class="hidden-xs"></td><td>2-4-1<span class="hidden-sm hidden-md hidden-lg"><br/>(0.333)</span></td><td class="hidden-xs">0.333</td><td></td><td class="hidden-xs"></td></tr><tr><td>12</td><td></td><td class="hidden-xs"></td><td>0-3-1<span class="hidden-sm hidden-md hidden-lg"><br/>(0.000)</span></td><td class="hidden-xs">0.000</td><td></td><td class="hidden-xs"></td></tr>
</tbody></table>

In [21]:
column = ['이닝','리드','리드시승리확률','동점','동점시승리확률','열세','열세시승리확률']
df = pd.DataFrame(columns=column)
templen = len(temp.find_all('tr'))

for i in range(1,templen):
  tempTr = temp.find_all("tr")[i]
  if(tempTr.find("th") is not None):
    continue
  row = {}
  column_idx = 0
  for j in range(7):
    tempTd = tempTr.find_all("td")[j].text
    row[column[column_idx]] = tempTd
    column_idx += 1
  df = df.append(row,ignore_index=True)

C:\Users\josuh\AppData\Local\Temp\ipykernel_16872\3262891488.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row,ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_16872\3262891488.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row,ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_16872\3262891488.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row,ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_16872\3262891488.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row,ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_16872\3262891488.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row,ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_16872\3262891488.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row,ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_16872\3262891488.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row,ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_16872\3262891488.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row,ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_16872\3262891488.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row,ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_16872\3262891488.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row,ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_16872\3262891488.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row,ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_16872\3262891488.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row,ignore_index=True)

In [22]:
df

    이닝              리드 리드시승리확률              동점 동점시승리확률              열세 열세시승리확률
0    1                          60-82-2(0.423)   0.423
1    2  18-16-0(0.529)   0.529  32-45-0(0.416)   0.416  10-21-2(0.323)   0.323
2    3  27-17-1(0.614)   0.614  16-32-0(0.333)   0.333  17-33-1(0.340)   0.340
3    4  33-17-1(0.660)   0.660  15-16-0(0.484)   0.484  12-49-1(0.197)   0.197
4    5  38-17-1(0.691)   0.691  10-13-0(0.435)   0.435  12-52-1(0.188)   0.188
5    6  40-10-0(0.800)   0.800  10-12-1(0.455)   0.455  10-60-1(0.143)   0.143
6    7  47-12-0(0.797)   0.797    4-4-1(0.500)   0.500   9-66-1(0.120)   0.120
7    8   51-7-0(0.879)   0.879    1-7-1(0.125)   0.125   8-68-1(0.105)   0.105
8    9   52-2-0(0.963)   0.963    5-9-1(0.357)   0.357   3-71-0(0.041)   0.041
9   10                            3-7-1(0.300)   0.300
10  11                            2-4-1(0.333)   0.333
11  12                            0-3-1(0.000)   0.000

In [23]:
#df.to_csv('22두산_이닝시작상황에따른승리확률.csv')

In [24]:
temp = bsObject.find_all('table')[8]
temp

<table class="table table-striped">
<tbody><tr><th>시작</th><th colspan="4">전체</th></tr>
<tr><th>끝</th><th>종합</th><th>리드</th><th>동점</th><th>열세</th>
</tr>
<tr class="oddrow_stz"><td>1회</td><td>144</td><td>34</td><td>77</td><td>33</td></tr><tr class="evenrow_stz"><td>2회</td><td>144</td><td>45</td><td>48</td><td>51</td></tr><tr class="oddrow_stz"><td>3회</td><td>144</td><td>51</td><td>31</td><td>62</td></tr><tr class="evenrow_stz"><td>4회</td><td>144</td><td>56</td><td>23</td><td>65</td></tr><tr class="oddrow_stz"><td>5회</td><td>144</td><td>50</td><td>23</td><td>71</td></tr><tr class="evenrow_stz"><td>6회</td><td>144</td><td>59</td><td>9</td><td>76</td></tr><tr class="oddrow_stz"><td>7회</td><td>144</td><td>58</td><td>9</td><td>77</td></tr><tr class="evenrow_stz"><td>8회</td><td>143</td><td>54</td><td>15</td><td>74</td></tr><tr class="oddrow_stz"><td>9회</td><td>81</td><td>29</td><td>11</td><td>41</td></tr><tr class="evenrow_stz"><td>10회</td><td>11</td><td>1</td><td>7</td><td>3</td></tr><tr class="oddrow_stz"><td>11회</td><td>7</td><td>2</td><td>4</td><td>1</td></tr><tr class="evenrow_stz"><td>12회</td><td>4</td><td>0</td><td>1</td><td>3</td></tr>
</tbody></table>

In [25]:

column = ['끝','종합','리드','동점','열세']
df = pd.DataFrame(columns=column)
templen = len(temp.find_all('tr'))

for i in range(0,templen):
  tempTr = temp.find_all("tr")[i]
  if(tempTr.find("th") is not None):
    continue
  row = {}
  column_idx = 0
  for j in range(5):
    tempTd = tempTr.find_all("td")[j].text
    row[column[column_idx]] = tempTd
    column_idx += 1
  df = df.append(row,ignore_index=True)

C:\Users\josuh\AppData\Local\Temp\ipykernel_16872\1408294849.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row,ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_16872\1408294849.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row,ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_16872\1408294849.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row,ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_16872\1408294849.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row,ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_16872\1408294849.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row,ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_16872\1408294849.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row,ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_16872\1408294849.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row,ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_16872\1408294849.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row,ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_16872\1408294849.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row,ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_16872\1408294849.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row,ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_16872\1408294849.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row,ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_16872\1408294849.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row,ignore_index=True)

In [26]:
df

      끝   종합  리드  동점  열세
0    1회  144  34  77  33
1    2회  144  45  48  51
2    3회  144  51  31  62
3    4회  144  56  23  65
4    5회  144  50  23  71
5    6회  144  59   9  76
6    7회  144  58   9  77
7    8회  143  54  15  74
8    9회   81  29  11  41
9   10회   11   1   7   3
10  11회    7   2   4   1
11  12회    4   0   1   3

In [32]:
temp = bsObject.find_all('table')[7]
temp

<table class="table table-striped">
<tbody><tr><th>시작</th><th colspan="4">전체</th><th colspan="4">리드</th><th colspan="4">동점</th><th colspan="4">열세</th></tr>
<tr><th>끝</th><th>종<br/>합</th><th>리<br/>드</th><th>동<br/>점</th><th>열<br/>세</th>
<th>종<br/>합</th><th>리<br/>드</th><th>동<br/>점</th><th>열<br/>세</th>
<th>종<br/>합</th><th>리<br/>드</th><th>동<br/>점</th><th>열<br/>세</th>
<th>종<br/>합</th><th>리<br/>드</th><th>동<br/>점</th><th>열<br/>세</th>
</tr>
<tr class="oddrow_stz"><td>1회</td><td>144</td><td>34</td><td>77</td><td>33</td><td></td><td></td><td></td><td></td><td>144</td><td>34</td><td>77</td><td>33</td><td></td><td></td><td></td><td></td></tr><tr class="evenrow_stz"><td>2회</td><td>144</td><td>45</td><td>48</td><td>51</td><td>34</td><td>27</td><td>5</td><td>2</td><td>77</td><td>14</td><td>38</td><td>25</td><td>33</td><td>4</td><td>5</td><td>24</td></tr><tr class="oddrow_stz"><td>3회</td><td>144</td><td>51</td><td>31</td><td>62</td><td>45</td><td>38</td><td>3</td><td>4</td><td>48</td><td>7</td><td>26</td><td>15</td><td>51</td><td>6</td><td>2</td><td>43</td></tr><tr class="evenrow_stz"><td>4회</td><td>144</td><td>56</td><td>23</td><td>65</td><td>51</td><td>47</td><td>1</td><td>3</td><td>31</td><td>7</td><td>21</td><td>3</td><td>62</td><td>2</td><td>1</td><td>59</td></tr><tr class="oddrow_stz"><td>5회</td><td>144</td><td>50</td><td>23</td><td>71</td><td>56</td><td>46</td><td>4</td><td>6</td><td>23</td><td>2</td><td>16</td><td>5</td><td>65</td><td>2</td><td>3</td><td>60</td></tr><tr class="evenrow_stz"><td>6회</td><td>144</td><td>59</td><td>9</td><td>76</td><td>50</td><td>46</td><td>0</td><td>4</td><td>23</td><td>11</td><td>8</td><td>4</td><td>71</td><td>2</td><td>1</td><td>68</td></tr><tr class="oddrow_stz"><td>7회</td><td>144</td><td>58</td><td>9</td><td>77</td><td>59</td><td>54</td><td>2</td><td>3</td><td>9</td><td>1</td><td>5</td><td>3</td><td>76</td><td>3</td><td>2</td><td>71</td></tr><tr class="evenrow_stz"><td>8회</td><td>143</td><td>54</td><td>15</td><td>74</td><td>58</td><td>51</td><td>4</td><td>3</td><td>8</td><td>1</td><td>5</td><td>2</td><td>77</td><td>2</td><td>6</td><td>69</td></tr><tr class="oddrow_stz"><td>9회</td><td>81</td><td>29</td><td>11</td><td>41</td><td>26</td><td>24</td><td>0</td><td>2</td><td>15</td><td>3</td><td>8</td><td>4</td><td>40</td><td>2</td><td>3</td><td>35</td></tr><tr class="evenrow_stz"><td>10회</td><td>11</td><td>1</td><td>7</td><td>3</td><td></td><td></td><td></td><td></td><td>11</td><td>1</td><td>7</td><td>3</td><td></td><td></td><td></td><td></td></tr><tr class="oddrow_stz"><td>11회</td><td>7</td><td>2</td><td>4</td><td>1</td><td></td><td></td><td></td><td></td><td>7</td><td>2</td><td>4</td><td>1</td><td></td><td></td><td></td><td></td></tr><tr class="evenrow_stz"><td>12회</td><td>4</td><td>0</td><td>1</td><td>3</td><td></td><td></td><td></td><td></td><td>4</td><td>0</td><td>1</td><td>3</td><td></td><td></td><td></td><td></td></tr>
</tbody></table>

In [43]:
column = ['끝','종합','리드','동점','열세']
df = pd.DataFrame(columns=column)
templen = len(temp.find_all('tr'))

for i in range(0,templen):
  tempTr = temp.find_all("tr")[i]
  if(tempTr.find("th") is not None):
    continue
  row = {}
  column_idx = 0
  for j in range(5):
    tempTd = tempTr.find_all("td")[j].text
    row[column[column_idx]] = tempTd
    column_idx += 1
  df = df.append(row,ignore_index=True)

C:\Users\josuh\AppData\Local\Temp\ipykernel_16872\1697546504.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row,ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_16872\1697546504.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row,ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_16872\1697546504.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row,ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_16872\1697546504.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row,ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_16872\1697546504.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row,ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_16872\1697546504.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row,ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_16872\1697546504.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row,ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_16872\1697546504.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row,ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_16872\1697546504.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row,ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_16872\1697546504.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row,ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_16872\1697546504.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row,ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_16872\1697546504.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row,ignore_index=True)

In [44]:
df

      끝   종합  리드  동점  열세
0    1회  144  34  77  33
1    2회  144  45  48  51
2    3회  144  51  31  62
3    4회  144  56  23  65
4    5회  144  50  23  71
5    6회  144  59   9  76
6    7회  144  58   9  77
7    8회  143  54  15  74
8    9회   81  29  11  41
9   10회   11   1   7   3
10  11회    7   2   4   1
11  12회    4   0   1   3

In [60]:
temp = bsObject.find_all('table')[9]
column = ['종합','리드','동점','열세']
df1 = pd.DataFrame(columns=column)
templen = len(temp.find_all('tr'))

for i in range(0,templen):
  tempTr = temp.find_all("tr")[i]
  if(tempTr.find("th") is not None):
    continue
  row = {}
  column_idx = 0
  for j in range(1,5):
    tempTd = tempTr.find_all("td")[j].text
    row[column[column_idx]] = tempTd
    column_idx += 1
  df1 = df1.append(row,ignore_index=True)

C:\Users\josuh\AppData\Local\Temp\ipykernel_16872\2490500281.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df1 = df1.append(row,ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_16872\2490500281.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df1 = df1.append(row,ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_16872\2490500281.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df1 = df1.append(row,ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_16872\2490500281.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df1 = df1.append(row,ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_16872\2490500281.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df1 = df1.append(row,ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_16872\2490500281.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df1 = df1.append(row,ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_16872\2490500281.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df1 = df1.append(row,ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_16872\2490500281.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df1 = df1.append(row,ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_16872\2490500281.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df1 = df1.append(row,ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_16872\2490500281.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df1 = df1.append(row,ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_16872\2490500281.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df1 = df1.append(row,ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_16872\2490500281.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df1 = df1.append(row,ignore_index=True)

In [61]:
df1

    종합  리드 동점 열세
0
1   34  27  5  2
2   45  38  3  4
3   51  47  1  3
4   56  46  4  6
5   50  46  0  4
6   59  54  2  3
7   58  51  4  3
8   26  24  0  2
9
10
11

In [58]:
temp = bsObject.find_all('table')[10]
column = ['종합','리드','동점','열세']
df2 = pd.DataFrame(columns=column)
templen = len(temp.find_all('tr'))

for i in range(0,templen):
  tempTr = temp.find_all("tr")[i]
  if(tempTr.find("th") is not None):
    continue
  row = {}
  column_idx = 0
  for j in range(1,5):
    tempTd = tempTr.find_all("td")[j].text
    row[column[column_idx]] = tempTd
    column_idx += 1
  df2 = df2.append(row,ignore_index=True)

C:\Users\josuh\AppData\Local\Temp\ipykernel_16872\2913987338.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(row,ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_16872\2913987338.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(row,ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_16872\2913987338.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(row,ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_16872\2913987338.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(row,ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_16872\2913987338.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(row,ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_16872\2913987338.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(row,ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_16872\2913987338.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(row,ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_16872\2913987338.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(row,ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_16872\2913987338.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(row,ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_16872\2913987338.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(row,ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_16872\2913987338.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(row,ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_16872\2913987338.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(row,ignore_index=True)

In [59]:
df2

     종합  리드  동점  열세
0   144  34  77  33
1    77  14  38  25
2    48   7  26  15
3    31   7  21   3
4    23   2  16   5
5    23  11   8   4
6     9   1   5   3
7     8   1   5   2
8    15   3   8   4
9    11   1   7   3
10    7   2   4   1
11    4   0   1   3

In [56]:
temp = bsObject.find_all('table')[11]
column = ['종합','리드','동점','열세']
df3 = pd.DataFrame(columns=column)
templen = len(temp.find_all('tr'))

for i in range(0,templen):
  tempTr = temp.find_all("tr")[i]
  if(tempTr.find("th") is not None):
    continue
  row = {}
  column_idx = 0
  for j in range(1,5):
    tempTd = tempTr.find_all("td")[j].text
    row[column[column_idx]] = tempTd
    column_idx += 1
  df3 = df3.append(row,ignore_index=True)

C:\Users\josuh\AppData\Local\Temp\ipykernel_16872\4242625517.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df3 = df3.append(row,ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_16872\4242625517.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df3 = df3.append(row,ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_16872\4242625517.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df3 = df3.append(row,ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_16872\4242625517.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df3 = df3.append(row,ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_16872\4242625517.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df3 = df3.append(row,ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_16872\4242625517.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df3 = df3.append(row,ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_16872\4242625517.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df3 = df3.append(row,ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_16872\4242625517.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df3 = df3.append(row,ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_16872\4242625517.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df3 = df3.append(row,ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_16872\4242625517.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df3 = df3.append(row,ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_16872\4242625517.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df3 = df3.append(row,ignore_index=True)
C:\Users\josuh\AppData\Local\Temp\ipykernel_16872\4242625517.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df3 = df3.append(row,ignore_index=True)

In [57]:
df3

    종합 리드 동점  열세
0
1   33  4  5  24
2   51  6  2  43
3   62  2  1  59
4   65  2  3  60
5   71  2  1  68
6   76  3  2  71
7   77  2  6  69
8   40  2  3  35
9
10
11

In [62]:
df_new = pd.concat([df,df1,df2,df3], axis=1)
df_new

      끝   종합  리드  동점  열세  종합  리드 동점 열세   종합  리드  동점  열세  종합 리드 동점  열세
0    1회  144  34  77  33                144  34  77  33
1    2회  144  45  48  51  34  27  5  2   77  14  38  25  33  4  5  24
2    3회  144  51  31  62  45  38  3  4   48   7  26  15  51  6  2  43
3    4회  144  56  23  65  51  47  1  3   31   7  21   3  62  2  1  59
4    5회  144  50  23  71  56  46  4  6   23   2  16   5  65  2  3  60
5    6회  144  59   9  76  50  46  0  4   23  11   8   4  71  2  1  68
6    7회  144  58   9  77  59  54  2  3    9   1   5   3  76  3  2  71
7    8회  143  54  15  74  58  51  4  3    8   1   5   2  77  2  6  69
8    9회   81  29  11  41  26  24  0  2   15   3   8   4  40  2  3  35
9   10회   11   1   7   3                 11   1   7   3
10  11회    7   2   4   1                  7   2   4   1
11  12회    4   0   1   3                  4   0   1   3

In [ ]:
df_column = pd.[['시작','전체','전체','전체','전체',
                            '리드','리드','리드','리드',
                            '동점','동점','동점','동점',
                            '열세','열세','열세','열세'], 
                           ['끝','종합','리드','동점','열세'
                            ,'종합','리드','동점','열세'
                            ,'종합','리드','동점','열세'
                            ,'종합','리드','동점','열세']],

In [73]:
column = ['시작','전체','전체','전체','전체',
            '리드','리드','리드','리드',
            '동점','동점','동점','동점',
            '열세','열세','열세','열세']
df_column = pd.DataFrame(columns=column)
df_column.reset_index
df_column

Empty DataFrame
Columns: [시작, 전체, 전체, 전체, 전체, 리드, 리드, 리드, 리드, 동점, 동점, 동점, 동점, 열세, 열세, 열세, 열세]
Index: []

In [82]:
df_new.values

array([['1회', '144', '34', '77', '33', '', '', '', '', '144', '34', '77',
        '33', '', '', '', ''],
       ['2회', '144', '45', '48', '51', '34', '27', '5', '2', '77', '14',
        '38', '25', '33', '4', '5', '24'],
       ['3회', '144', '51', '31', '62', '45', '38', '3', '4', '48', '7',
        '26', '15', '51', '6', '2', '43'],
       ['4회', '144', '56', '23', '65', '51', '47', '1', '3', '31', '7',
        '21', '3', '62', '2', '1', '59'],
       ['5회', '144', '50', '23', '71', '56', '46', '4', '6', '23', '2',
        '16', '5', '65', '2', '3', '60'],
       ['6회', '144', '59', '9', '76', '50', '46', '0', '4', '23', '11',
        '8', '4', '71', '2', '1', '68'],
       ['7회', '144', '58', '9', '77', '59', '54', '2', '3', '9', '1',
        '5', '3', '76', '3', '2', '71'],
       ['8회', '143', '54', '15', '74', '58', '51', '4', '3', '8', '1',
        '5', '2', '77', '2', '6', '69'],
       ['9회', '81', '29', '11', '41', '26', '24', '0', '2', '15', '3',
        '8', '4', '40', '2', '3', '35'],
       ['10회', '11', '1', '7', '3', '', '', '', '', '11', '1', '7', '3',
        '', '', '', ''],
       ['11회', '7', '2', '4', '1', '', '', '', '', '7', '2', '4', '1',
        '', '', '', ''],
       ['12회', '4', '0', '1', '3', '', '', '', '', '4', '0', '1', '3',
        '', '', '', '']], dtype=object)

In [84]:
column = [['시작','전체','전체','전체','전체',
'리드','리드','리드','리드',
'동점','동점','동점','동점',
'열세','열세','열세','열세'], 
                           ['끝','종합','리드','동점','열세'
                            ,'종합','리드','동점','열세'
                            ,'종합','리드','동점','열세'
                            ,'종합','리드','동점','열세']]

In [86]:
df = pd.DataFrame(data = df_new.values,
                  columns = column)

In [87]:
df

     시작   전체              리드             동점              열세
      끝   종합  리드  동점  열세  종합  리드 동점 열세   종합  리드  동점  열세  종합 리드 동점  열세
0    1회  144  34  77  33                144  34  77  33
1    2회  144  45  48  51  34  27  5  2   77  14  38  25  33  4  5  24
2    3회  144  51  31  62  45  38  3  4   48   7  26  15  51  6  2  43
3    4회  144  56  23  65  51  47  1  3   31   7  21   3  62  2  1  59
4    5회  144  50  23  71  56  46  4  6   23   2  16   5  65  2  3  60
5    6회  144  59   9  76  50  46  0  4   23  11   8   4  71  2  1  68
6    7회  144  58   9  77  59  54  2  3    9   1   5   3  76  3  2  71
7    8회  143  54  15  74  58  51  4  3    8   1   5   2  77  2  6  69
8    9회   81  29  11  41  26  24  0  2   15   3   8   4  40  2  3  35
9   10회   11   1   7   3                 11   1   7   3
10  11회    7   2   4   1                  7   2   4   1
11  12회    4   0   1   3                  4   0   1   3

In [89]:
#df.to_csv('22두산_리드획득및상실.csv')

     시작   전체              리드             동점              열세
      끝   종합  리드  동점  열세  종합  리드 동점 열세   종합  리드  동점  열세  종합 리드 동점  열세
0    1회  144  34  77  33                144  34  77  33
1    2회  144  45  48  51  34  27  5  2   77  14  38  25  33  4  5  24
2    3회  144  51  31  62  45  38  3  4   48   7  26  15  51  6  2  43
3    4회  144  56  23  65  51  47  1  3   31   7  21   3  62  2  1  59
4    5회  144  50  23  71  56  46  4  6   23   2  16   5  65  2  3  60
5    6회  144  59   9  76  50  46  0  4   23  11   8   4  71  2  1  68
6    7회  144  58   9  77  59  54  2  3    9   1   5   3  76  3  2  71
7    8회  143  54  15  74  58  51  4  3    8   1   5   2  77  2  6  69
8    9회   81  29  11  41  26  24  0  2   15   3   8   4  40  2  3  35
9   10회   11   1   7   3                 11   1   7   3
10  11회    7   2   4   1                  7   2   4   1
11  12회    4   0   1   3                  4   0   1   3