In [1]:
import pandas as pd
import selenium
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.ui import Select
from math import sqrt

In [2]:
from selenium import webdriver
from time import sleep
options = webdriver.ChromeOptions()
chrome_options = webdriver.ChromeOptions()
chrome_options.add_argument('--headless') #내부 창을 띄울 수 없으므로 설정
chrome_options.add_argument('--no-sandbox')
chrome_options.add_argument('--disable-dev-shm-usage')
driver = webdriver.Chrome('chromedriver',chrome_options=chrome_options)
# 브라우저 윈도우 사이즈
options.add_argument('window-size=1920x1080')
# 사람처럼 보이게 하는 옵션들
options.add_argument("disable-gpu")   # 가속 사용 x
options.add_argument("lang=ko_KR")    # 가짜 플러그인 탑재
options.add_argument('user-agent=Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/109.0.0.0 Safari/537.36')  # user-agent 이름 설정|
# selenium에서 사용할 웹 드라이버 절대 경로 정보
# selenum의 webdriver에 앞서 설치한 chromedirver를 연동한다.
driver.implicitly_wait(2)
# driver로 특정 페이지를 크롤링한다.
#driver.get('http://www.kbreport.com/history/pitcher/main')

C:\Users\JOONHY~1\AppData\Local\Temp/ipykernel_31652/3377528876.py:8: DeprecationWarning: use options instead of chrome_options
  driver = webdriver.Chrome('chromedriver',chrome_options=chrome_options)

In [3]:
#!pip install lxml

In [4]:
# pd.read_html 함수를 사용하여 페이지 내에 있는 테이블 데이터 가져오기
statiz_baseball_salary = pd.DataFrame(columns=["선수","연도","팀","연봉(만원)","WAR"])

In [5]:
for year in range(1997,2022):
        url = f"http://www.statiz.co.kr/salary.php?opt=0&sopt={year}&cnv=&pos=&te=3"
        year_salary_data = pd.read_html(url)[1]
        statiz_baseball_salary = pd.concat([statiz_baseball_salary,year_salary_data])

In [6]:
statiz_baseball_salary

     선수    연도   팀 연봉(만원)    WAR
0   김상진  1997  OB   9800  3.340
1   김상호  1997  OB   9800  3.929
2   권명철  1997  OB   6200  0.934
3   김종석  1997  OB   6200 -0.066
4   김민호  1997  OB   6200  2.904
..  ...   ...  ..    ...    ...
72  오명진  2021  두산   2700 -0.140
73   남호  2021  두산   2700 -0.114
74  문대원  2021  두산   2700  0.000
75  안권수  2021  두산   2700 -0.053
76  이교훈  2021  두산   2700 -0.210

[1323 rows x 5 columns]

In [7]:
#statiz_baseball_salary.to_csv('1997_2022두산선수연봉.csv')